*{
    font-family: sans-serif;
}

body{
    background: #34495e;
    margin: 0;
    padding: 0;
    z-index: 2;
}
a{
    color: white;
}
.form{
    color: white;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    float: left;
    border-radius: none;
}
input{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white;
    border: none;
   outline: none;
   background: none;
   color: white;
   font-size: 18px;
   width: 90%;
   float: left;
   margin:0 10px;
}
.back{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
}
