*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(../files/kali.png) no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
main{
    width: 100%;
    height: 100%;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    color: #ecf0f1;
    font-size: 14px;
    font-family: serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    list-style: none;
    float: left;
    margin-left: 20px;
}
.center{
    width: 100%;
    height: 100%;
}
.other{
    margin-right: 5px;
}
aside{
    float: left;
    margin-top: 5%;
    height: 420px;
    width: 65px;
    color: white;
    background-color: #2c3e50;
    border-radius:0px 5px 5px 0px;
    opacity: 0.5;
}
.menu i{
    line-height: 70px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu{
    display: none;
}
article{
    float: right;
    width: 90%;
    height: 100%;
    background-color: white;
    margin: 20px;
    margin-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.1;
    color: black;
    z-index: 1;
}
article:hover{
    opacity: 0.2;
}
aside i:hover{
    background: white;
    color: black;
    border-radius: 5px;
}
#list ul li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
#subMenu ul{
    width: 150px;
    height: 100%;
    position: absolute;
    z-index: 6;
}
#subMenu ul li{
    width: 120px;
    height: 20px;
    display:none;
    text-align: left;
    margin: 0;
    padding: 5px 20px;
    background: #34495e;
}
#subMenu ul li:hover{
    background-color: #3498db;
}
#subMenu:hover ul li{
    display:block;
}
@media screen and (max-width:1050px) {
    article{
        width: 85%;
    }
}
@media screen and (max-width:950px) {
    body{
        background: url(../files/kali.png) no-repeat;
    }
}
@media screen and (max-width:700px) {
    article{
        width: 80%;
    }
}
@media screen and (max-width:550px) {
    aside{
        display: none;
    }
    article{
        width: 100%;
        margin:0;
        margin-top: 30px;
    }
}
@media screen and (max-width:400px) {
    #clock{
        display: none;
    }
}
