body{
    background:#d0d4d6;
}
header{
    background: #131418;
    width: 100%;
    height: 80px;
    color: #ecf0f1;
    text-align: center;
    margin:auto;
    box-sizing: border-box;
    float: left;
    border: 2px solid gray;
}
#menubar{
    position: absolute;
    top: 25px;
    left: 40px;
}
aside{
  width: 25%;
  height: 100%;
  padding-top:10px;
  background:   #d5d8dc;
  box-sizing: border-box;
  float: left;
  text-align: center;
}
aside ul{
  background-color: #131418;
  width: 150px;
  height: 100%;
  margin: auto;
}
aside ul li{
  width: 100px;
  height: 50px;
  background-color: #131418;
  float: left;
  list-style: none;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
  box-sizing: border-box;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  font-size: 20px;
  color: #FFFFFF;
}
li:hover{
  background: #566573 ;
  color: black;
}
article{
  width: 75%;
  height: 100%;
  padding:15px;
  box-sizing: border-box;
  float: left;
  border-left: 2px solid gray;
}
footer{
  background: #131418;
  width: 100%;
  height: 80px;
  color: #ecf0f1;
  text-align: center;
  padding-top:10px;
  box-sizing: border-box;
  float: left;
  border: 2px solid gray;
}
